@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes load {
  0% {
    width: 0;
  }
  50% {
    width: 75%;
  }
  100% {
    width: 100%;
  }
}

/* Tailwind utility to apply the animation */
.progress-bar {
  animation: load 2s ease-in-out infinite;
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

.shimmer {
  background: linear-gradient(to right, #e0e0e0 8%, #cfcfcf 18%, #e0e0e0 33%);
  background-size: 1200px 100%;
  animation: shimmer 1.5s infinite linear;
}
